#root {
  padding: 2rem;
  text-align: center;
     }
  span{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .scrollable {
    overflow-y: auto;
    height: 50dvh;
    width: 100%;
    padding-bottom: var(--spacing-2);
  }

  .multiselect-wrapper{
    padding:4px ;
    display:flex;
  }
input.multiselect{
 padding:2px 4px;border:none;
  line-height: 32px;width: 100%;font-size: 1rem;
}
  
    .vertical-flex {
      display: flex;
      flex-direction: column;
    }
    .horizontal-flex {
      display: flex;
  gap:var(--spacing-1)
    }
    .chip{
      background-color: var(--primary-light);
      border-radius: calc(var(--spacing-2) - 4px);
      padding: 4px 8px;
    }
                .border {
                  border-radius: var(--spacing-2,16px);
                  border: 1px solid;
                  border-color: var(--bordercolor, red)
                }
        
                .list-item {
                  padding: var(--spacing-1,8px) var(--spacing-2,16px)
                
                }
        .list-item:hover{
          background-color: var(--secondary-light);
        }
                .list-item:not(:first-of-type) {
                  border-top: 1px solid;
                  border-color: var(--bordercolor, red)
}



