:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  color: #232323;
  background-color: #efefef;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --const-white: #efefef;
  --primary-main: rgb(114, 146, 158);
  --primary-light: rgb(164, 194, 205);
  --primary-dark: rgb(84, 97, 102);
  --secondary-light: rgb(212, 224, 228);
  --text-primary: #232323;
  --text-secondary: #efefef;
  --bordercolor: var(--primary-dark, red);
  --spacing-1: 8px;
  --spacing-2: 16px;
}

*{
  box-sizing: border-box;

}
.loader {
  /* border-top: 16px solid blue;  */
  background-color: var(--bordercolor);
  border-radius: 12px;
  width: 12px;
  margin:4px;
  aspect-ratio: 1;align-self: center;
  animation: tide 1s alternate infinite;
}

@keyframes tide {
  0% { transform: translate(0%); opacity: .2;}
  30% { transform:translate(-100%); opacity: .5;}
  100% { transform:translate(0%); opacity: .2; }
}
::-webkit-scrollbar {
  width: 8px;
  
}
::-webkit-scrollbar-track {
  /* border: 1px solid gray; */
  margin:16px
}
::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 5px;
}
input {
  background-color: var(--const-white, #ffffff);
  border: 1px solid;
  caret-color: #232323;
}
input:focus,
input:focus-visible {
  outline: none;
}
input[type="checkbox" i] {
  background-color: #535bf2;
}


body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100dvh;
}

/* 
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 2px auto -webkit-focus-ring-color;
} */
