:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  
  background-color: #efefef;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --const-white: #efefef;
  --primary-main: rgb(103, 133, 144);
  --primary-light: rgb(185, 201, 207);
  --primary-dark: rgb(108, 126, 133);
  --secondary-light: rgb(212, 224, 228);
  --text-primary: #2f2f2f;
  --text-secondary: #efefef;
  --bordercolor: var(--primary-dark, black);
  --spacing-1: 8px;
  --spacing-2: 12px;
  color: var(--text-primary,#2f2f2f);
}

* {
  box-sizing: border-box;
}
.loader {
  /* border-top: 16px solid blue;  */
  background-color: var(--bordercolor);
  border-radius: 12px;
  width: 12px;
  margin: 4px;
  aspect-ratio: 1;
  align-self: center;
  z-index: 1;
  animation: tide 1s alternate infinite;
}

@keyframes tide {
  0% {
    transform: translate(0%);
    opacity: 0.2;
  }
  30% {
    transform: translate(-100%);
    opacity: 0.5;
  }
  100% {
    transform: translate(0%);
    opacity: 0.2;
  }
}
::-webkit-scrollbar {
  width: 8px;
  height: 4px;
}
::-webkit-scrollbar-track {
  /* border: 1px solid gray; */
  margin: 16px;
}
::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 5px;
}
input {
  background-color: var(--const-white, #ffffff);
  border: 1px solid;
  caret-color: #232323;
}
input:focus,
input:focus-visible {
  outline: none;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100dvh;
}